VITE_SUPABASE_URL=https://proxy.paperai.life/proxy/https://tcrlagnatokjmiuxybkt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjcmxhZ25hdG9ram1pdXh5Ymt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTc1OTAzNjksImV4cCI6MjAzMzE2NjM2OX0.fKbrdUP4OBNuFBNQHmUviMUOSNQDb_yFyR6_WLRMvdk